EXPO_PUBLIC_APP_NAME=Stryde
EXPO_PUBLIC_APP_ENV=development

EXPO_PUBLIC_PRIVY_APP_ID=your_privy_app_id
EXPO_PUBLIC_PRIVY_CLIENT_ID=your_privy_client_id

EXPO_PUBLIC_CHAIN_MODE=ethereum-sepolia
EXPO_PUBLIC_RPC_URL=https://rpc.ankr.com/eth_sepolia
EXPO_PUBLIC_CHAIN_ID=11155111
EXPO_PUBLIC_SUBGRAPH_URL=
EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_MAP_STYLE_URL=https://tiles.openfreemap.org/styles/liberty
