# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# environment variables
.env
.env*.local
.env.prod

# typescript
*.tsbuildinfo

# build outputs
*.apk
*.aab
/android/app/build/
/ios/build/

# generated native folders
/ios
/android

# misc
coverage/
*.log
